<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EcranGerant">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<size>550,600</size>
					<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
						<bitmap>/home/kaf/Documents/ProjetC++2/logo/gérant-majoritaire-sarl.jpg</bitmap>
						<size>550,600</size>
					</object>
					<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
						<label>Gerant</label>
						<pos>208,40</pos>
						<size>152,32</size>
						<font>
							<size>28</size>
							<style>italic</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
					</object>
					<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
						<label>Faire une nouvelle &#x0A;reservation</label>
						<pos>40,112</pos>
						<size>200,60</size>
						<font>
							<size>18</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton1Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
						<label>Annuler une reservation&#x0A;    en cours</label>
						<pos>312,112</pos>
						<size>224,60</size>
						<font>
							<size>18</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton2Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
						<label>Voir les salles</label>
						<pos>40,200</pos>
						<size>200,60</size>
						<font>
							<size>18</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton3Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON4" variable="Button4" member="yes">
						<label>Rechercher une salle</label>
						<pos>336,200</pos>
						<size>200,60</size>
						<font>
							<size>17</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton4Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON5" variable="Button5" member="yes">
						<label>Informations personnelles&#x0A;    Gerant/Client</label>
						<pos>48,304</pos>
						<size>208,60</size>
						<font>
							<size>15</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton5Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON6" variable="Button6" member="yes">
						<label>Historique des reservations</label>
						<pos>328,304</pos>
						<size>208,60</size>
						<font>
							<size>15</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton6Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON7" variable="Button7" member="yes">
						<label>Facturer</label>
						<pos>336,400</pos>
						<size>200,60</size>
						<font>
							<size>16</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton7Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON8" variable="Button8" member="yes">
						<label>Mise a jour Salle</label>
						<pos>48,400</pos>
						<size>200,60</size>
						<font>
							<size>16</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton8Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON9" variable="Button9" member="yes">
						<label>Retirer Client</label>
						<pos>48,504</pos>
						<size>200,60</size>
						<font>
							<size>15</size>
							<style>italic</style>
							<weight>normal</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton9Click" entry="EVT_BUTTON" />
					</object>
					<object class="wxButton" name="ID_BUTTON10" variable="Button10" member="yes">
						<label>Log out</label>
						<pos>432,552</pos>
						<font>
							<size>15</size>
							<style>italic</style>
							<weight>bold</weight>
							<underlined>0</underlined>
							<family>default</family>
							<face>Z003</face>
						</font>
						<handler function="OnButton10Click" entry="EVT_BUTTON" />
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
